@model teste_mvc.Models.Pacote

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia transforma</title>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fontes.css" rel="stylesheet" />
    <link href="~/Content/tamanhos.css" rel="stylesheet" />
    <link href="~/Content/home1-config.css" rel="stylesheet" />
    <link href="~/Content/cadastros.css" rel="stylesheet" />
    <link href="~/Content/tamanhos.css" rel="stylesheet" />


</head>
<body>
    <section class="header-site">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="foto-cabeca row justify-content-center align-items-center linha-cabeca ">
                        <img class="col-lg-2 col-6 logo-foto foto-config-tamanho" src="~/midia/logo-nova-500.png" alt="">
                        <h1 class="text-center titulo-logo col-lg-8 col-6 text-align-center ">ACADEMIA TRANSFORMA</h1>
                    </div>
                </div>

            </div>

        </div>

        <div class="botto text-center margem">
            <h4 class="text-dark">Excluir Cadastro</h4>
        </div>

        <div class="principals1 container">
            <hr class="text-dark" />

            <form asp-action="Delete">
                <div class="row">
                    <div class=" col-12 col-sm-6 margem">
                        <label class="control-label text-dark">Descrição</label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                    <div class=" col-12 col-sm-6 margem">
                        <label class="control-label text-dark">Valor Mensalidade</label>
                        <input asp-for="ValorMensalidade" class="form-control" />
                        <span asp-validation-for="ValorMensalidade" class="text-danger"></span>
                    </div>

                    <div class=" col-12 col-sm-6 margem">
                        <label class="control-label text-dark">Data Inicio</label>
                        <input asp-for="DataInicio" type="date" class="form-control" />
                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                    </div>

                    <div class=" col-12 col-sm-6 margem">
                        <label class="control-label text-dark">Data Término</label>
                        <input asp-for="DataTermino" type="date" class="form-control" />
                        <span asp-validation-for="DataTermino" class="text-danger"></span>
                    </div>

                    <div class=" col-12 col-sm-6 margem">
                        <label class="control-label text-dark">MODALIDADE</label>
                        <input asp-for="ModalidadeId" class="form-control" />
                        <span asp-validation-for="ModalidadeId" class="text-danger"></span>
                    </div>

                    <div class="col-12 col-sm-6 margem"></div>

                    <div><hr class="text-dark margem" /></div>

                    <div class="principals1 container">
                        <div class="row">
                            <div class=" col-12 col-sm-6 margem">
                                <input type="submit" value="Excluir" class="btn btn-secondary" />
                            </div>

                            <div class=" col-12 col-sm-6 margem">
                                <a asp-action="Index" class="btn btn-secondary centro">Voltar</a>
                            </div>
                        </div>
                        <div class="margem1"></div>
                    </div>
                    <input type="hidden" asp-for="Id" />
                </div>
            </form>
        </div>

    </section>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</body>
</html>
